.main-icons{
    display: flex;
    justify-content: space-between;
    /* margin-top: 5px; */
    /* padding: 20px 20px; */
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ededed ;
    background: #fff;
    /* position: fixed; */
    display: block;
    padding: 2rem 4rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    top: 4.9rem;
    display: flex;
    gap: 0.8rem;
    backdrop-filter: blur(15px);
    border: 1px solid #EBEBEB;
    justify-content: space-between;
    align-items: center;
    font-size: small;
  
}
.all-icons{
    /* margin: 0.1rem 1rem;  */
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* padding: 1rem 0rem; */
}
.icon-name{
    font-size: small;
    color: rgb(101, 99, 99);
    font-weight: bold;
}
.icon{
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(101, 99, 99);
}
.arrow-right{
    margin-top: 20px;
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}
.icon:hover{
    color: black;
}
.icon-name:hover{
    color: black;
}
.all-icon:hover{
    color: black;
}
.tt{
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-evenly;
    border: 1px solid #ededed;
    width: 150px;
    height: 40px;
}
.tt:hover{
border: 1px solid black;
}