.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 2rem 1rem 2rem;
    justify-content: space-around;
}
.card {
    position: relative;
    width: 302px;
    font-size: 12px;
    height: 400px;
    margin-top: 1rem;
    /* padding: 0.8rem; */
  }
  .card--image:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
  }
  .like{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;   
;
  }
  
  .card--image {
    width: 100%;
    height: 286px;
object-fit: cover;
    border-radius: 9px;
    /* position: relative; */
  }
  
  .card--stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card--star {
    height: 14px;
    width: 15px;
  
  }
  .bold {
    font-weight: bold;

  }
.rating{
    display: flex;
align-items: center;
  } 
  
  .gray {
    color: #918E9B;
  }